.container {
  text-align: center;
}

body {
  font-size: 14px;
  background-color: red;
  /* backgroung-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: size: cover; */
}
